* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../img/mpob.jpg") no-repeat;
    background-size: cover;
    background-position: center;
 }


header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(60, 60, 60, 0.525);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}


.navigation a::after {  /* هذا تحديد التركيز  */
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover ::after {
    transform-origin: left;
    transform: scaleX(1);

}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #bba923;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}


.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #77650a;
}


.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border-radius: 2px solid rgba(255, 225, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-sizing: 0 0 30px rgbe(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   /* transform: scale(0);*/
    transition: transform .5s ease ,height .2s ease;
}

.wrapper.text-part {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.wrapper.active-popup {
    transform: scale(1);
}


.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
}


.wrapper .form-box.login {
   transition: transform .18s ease;
   transform: translateX(0);

}

.wrapper.active.form-box.login  {
    transition: none;
    transition: translatex(-400px);

}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active.form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}



.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 1.5em;
    color: #9c9319;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
  


.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    left: 5px;
    border-bottom: 2px solid hsl(210, 100%, 99%);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 100%;
    left: 1px;
    transform: translateY(-110%);
    font-size: 1em;
    color: #bba923;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.input-box input {
    width: 100;
    left: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: lem;
    color: #e4ecf1;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {/* *********** */
    position: absolute;
    right: 1px;
    font-size: 1.2em;
    color: #bba923;
    line-height: 20px;
}


.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fafbfc1d;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.2em;
    color: #998d08;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #7f7506;
    text-align: center;
    font-weight: 500;
    margin: 50px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 60;
}

.login-register p a:hover {
    text-decoration: underline;
}